<ng-template  #loading>
  <div class="loader-container">
  <div class="loader"></div> 
    
  </div>


</ng-template>

<div class="products-section">
    <app-search-bar (searchTextChanged)="onSearchEntered($event.searchText, $event.event)"></app-search-bar>
    <div class="product-grid">
      <ng-container *ngIf="productList.length > 0; else loading ">
        <app-product-card
        *ngFor="let product of productList | filter: searchText"
       
        [product]="product"
        >
      <h2 class="product-title">{{ product.title.slice(0,50) }}</h2>
      <p class="product-price">Price: {{ product.price | currencyConverter }}</p>

        <button class="edit">Edit</button>
        <button class="delete">Delete</button>
        
        <!-- *ngIf="searchText === null || product.title.toLowerCase().includes(searchText)" -->
      </app-product-card>
      </ng-container>
      <!-- Loop through each product in productList and pass values to the product card component -->
      
    </div>
  </div>
  