<div class="product-card">
    <div class="product-header">
      <h2 class="product-title">{{ title.slice(0,50) }}</h2>
    </div>
    <div class="product-body">
      <img [src]="image" alt="{{ title }}" class="product-image" />
      <p class="product-description">{{ description.slice(0,100) }}</p>
      <p class="product-price">Price: {{ price | currencyConverter }}</p>
      <p class="product-color">Color: <span [style.background]="color" class="color-swatch"></span> {{ color }}</p>
      <p class="product-discount" *ngIf="discount > 0">Discount: {{ discount }}%</p>
      
        <ng-content select=".edit"></ng-content>
        <ng-content select=".delete"></ng-content>
    </div>
  </div>
  
