<div class="product-card">
    <div class="product-header">
      <ng-content select=".product-title"></ng-content>
    </div>
    <div class="product-body">
      <img [src]="product.image" alt="{{ product.title }}" class="product-image" />
      <p class="product-description">{{ product.description.slice(0,100) }}</p>
      <ng-content select=".product-price"></ng-content>
      <p class="product-color">Color: <span [style.background]="product.color" class="color-swatch"></span> {{ product.color }}</p>
      <p class="product-discount" *ngIf="product.discount > 0">Discount: {{ product.discount }}%</p>
      
        <ng-content select=".edit"></ng-content>
        <ng-content select=".delete"></ng-content>
    </div>
  </div>
  
