.parent-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

// .login-container{
//     margin: 0 auto;
// }

.login-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}